body {
  max-width: 540px;
  min-width: 320px;
  background-color: #f2f2f2;
  color: #000;
  overflow-x: hidden;
}

#app {
  display: flex;
  width: 100px;
  height: 100px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height:40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header div:nth-child(1) {
  flex: 1;
  height: 100%;
}
.search {
  width: 100%;
  border-radius:5%;
  border:1px solid #b4b4b4;
  height: 100%;
  margin: 10px 5px;
  box-shadow: 2px 2px 3px #b3b3b3;
  display: flex;
  align-items:center;
  line-height:25px;
}
.search::before {
  content: "";
  width:25px;
  height:25px;
  background-image: url("../images//搜索.png");
  background-size: 100%;
  display: inline;
}
.search span {
  font-size:14px;
  color: #b4b4b4;
}

.header div:nth-child(2) {
  height: 100%;
  width: 55px;
  text-align: center;
  margin-top: 10px;
}
.link {
  text-decoration: none;
  font-size: 14px;
  color: #b4b4b4;
}
.link::before {
  width: 23px;
  height: 23px;
  display:block;
  margin: 1px 14px;
  content: "";
  /* background: url("../images/test.png")  no-repeat; */
  background-image: url("../images/my.png");
  background-size: 100%;
}
.images  {
  width: 100%;
  height:80px;
  border: 1px solid red;
}